.cookie-footer {
    background-color:rgb(183, 181, 181);
    text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.accept-button{
    background: #EEE8AA;
    color: beige;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 1,5 all;
}
.accept-button:hover{
    background-color: #00FF7F;
    transform: scale(1,3);
}